/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto 16px auto 16px 1fr;
	grid-template-rows: auto auto 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 0;
	padding: 0;
	background-color: #fafbff;
    color: #303450;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1em;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	line-height: 2;

	& a {
		color: #656da9;
	}
	& header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
		gap: 16px;
		padding: 16px;
		& h1 {
			font-weight: 900;
			font-size: 2em;
			margin: 0;
		}
		& p {
			margin: 0;
		}
		& button {
			background-color: #4c54df;
			color: #ffffff;
			border: 0;
			border-radius: 100px;
			height: 45px;
			padding: 0 32px;
			cursor: pointer;
			font-family: 'Lato', sans-serif;
			font-weight: 600;
			font-style: normal;
			font-size: 1.1em;
			&:hover {
				background-color: #2426c7;
			}
		}
	}
	& main {
		position: relative;

		& canvas {
			width: 100%;
			height: auto;
			aspect-ratio: 1920 / 720;
			background: url(graphics/elk.svg);
			background-repeat: no-repeat;
			background-position: right;
			background-color: #15115f;
		}

	}
	& footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
	}
	& dialog[open] {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 640px;
		border-radius: 16px;
		padding: 0;
		width: 95%;
        max-height: 95%;

		&::-webkit-backdrop {
			-webkit-backdrop-filter: blur(8px);
			        backdrop-filter: blur(8px);
			background-color: #ffffff66;
		}

		&::backdrop {
			-webkit-backdrop-filter: blur(8px);
			        backdrop-filter: blur(8px);
			background-color: #ffffff66;
		}
		& header {
			border-bottom: 1px solid #000000;
			line-height: 1;
		}
		& section {
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
			overflow: auto;
			padding: 16px;
		}
		& form {
			text-align: center;
		}
	}
}

body > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1
}

body > *:nth-child(2) {
	-ms-grid-row: 3;
	-ms-grid-column: 1
}

body > *:nth-child(3) {
	-ms-grid-row: 5;
	-ms-grid-column: 1
}

@media only screen and (max-width: 480px) {
	body {
		& header {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
		& main {
			padding: 32px 0;
		}
	}
}
